/assist_microphone
/cec_scan
/configurator
/deconz
/dhcp_server
/dnsmasq
/duckdns
/git_pull
/google_assistant
/letsencrypt
/mariadb
/matter_server
/mosquitto
/nginx_proxy
/openwakeword
/piper
/rpc_shutdown
/samba
/silabs-multiprotocol
/silabs_flasher
/speech_to_phrase
/ssh
/tellstick
/vlc
/whisper
/zwave_js
